.label{
    color:  whitesmoke !important;
    margin-bottom: 0.5rem;
    margin: 1rem;
}
form{
    display: flex;
    flex-direction: column;
    padding: 4rem 1rem;
    margin: auto;
    max-width: 600px;

}
form input ,form textarea{
    margin-bottom: 1rem;
    padding: 10px 18px;
    font-size: 1.5rem;
    background-color: rgb(43, 39, 39);
    border-color: rgb(64, 75, 65) ;
    color: rgb(216, 22, 22);
    border-radius: 1rem;
}
.form p{
    text-align: center;
}
/* .form-inputs{
    margin-left: 2rem;
}
.form-inpu{
    margin-left: 1rem;
} */